kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2
metadata:
  name: java-demo-app-hpa
  namespace: java-app-ns
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: java-demo-app
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
