#!/bin/bash

export KUBECONFIG=.kubeconfig.yaml

if [ ! -f $KUBECONFIG ] || ! find $KUBECONFIG -newermt "08:00" | grep -q $KUBECONFIG; then
  echo "$KUBECONFIG does not exist or it's outdated. Creating a new one.."
  scripts/get-cluster-credentials.sh
fi