loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

  storage:
    type: "filesystem"

# Configuração do modo Monolítico (Tudo em um pod)
deploymentMode: SingleBinary

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
    storageClass: standard # Altere se usar outra classe de armazenamento (ex: gp2, longhorn)

# Desabilita componentes distribuídos complexos
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0
