# filepath: argocd-apps/loki/prod/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: loki
    repo: https://grafana.github.io/helm-charts
    releaseName: loki
    version: 6.29.0
    namespace: monitoring
    valuesFile: values.yaml
