name: Deploy to GitHub Packages

on:
   workflow_run:
      workflows:
         - Build and Test Java Application
      types:
         - completed

jobs:
   deploy:
      runs-on: ubuntu-latest

      steps:
         # Step 1: Checkout code
         - name: Checkout code
           uses: actions/checkout@v4

         # Step 2: Download the artifact
         - name: Download artifact
           uses: actions/download-artifact@v4
           with:
              name: java-app

         # Step 3: Deploy to GitHub Packages
         - name: Deploy to GitHub Packages
           run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
           env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
           # Step 4: Log in to GitHub Container Registry
         - name: Log in to GitHub Container Registry
           uses: docker/login-action@v2
           with:
              registry: ghcr.io
              username: ${{ secrets.GITHUB_ACTOR }}
              password: ${{ secrets.GITHUB_TOKEN }}

         # Step 5: Build and push Docker image
         - name: Build and push Docker image
           uses: docker/build-push-action@v4
           with:
              context: .
              push: true
              tags: ghcr.io/${{ github.repository_owner }}/java-cicd:latest
